/* ESSENTIALS ============================================================= */
:root {
  --space-xxs: 8px;
  --space-xs: 12px;
  --space-s: 16px;
  --space: 24px;
  --space-l: 32px;
  --space-xl: 48px;
  --space-xxl: 64px;

  --light: #eff0ea;
  --mid: #c5c0bc;
  --dark: #484e4a;
  --yellow: #e9cb47;
  --green: #00a19b;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

svg {
  max-height: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
}

button,
button:focus {
  outline: none;
  border: none;
  background-color: transparent;
}

.yellow {
  color: var(--yellow);
}

.green {
  color: var(--green);
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  min-height: 100vh;
  color: var(--dark);
  padding-top: var(--space-xxl);

  display: flex;
  flex-direction: column;
}

.container {
  width: 100vw;
  padding: 0 var(--space-xxs);
}

/* HEADER ============================================================= */
.header {
  height: var(--space-xxl);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  color: var(--light);
  background-color: var(--dark);
  z-index: 99;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .brand {
  font-size: var(--space);
  font-weight: 400;
  display: inline-block;
}

/* MAIN ============================================================= */
.main {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.top {
  background-color: var(--light);
  padding: var(--space) 0;
  flex-grow: 1;
  display: flex;
  position: relative;
}

.top .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#color-form {
  font-size: var(--space-l);
}

.color-input-label {
  color: var(--yellow);
}

#color-input {
  color: var(--dark);
  width: 120px;
  font-variant-numeric: tabular-nums;
  background-color: transparent;
  border: none;
}

#color-input:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid var(--yellow);
}

#color-input::placeholder {
  color: var(--mid);
}

.random,
.random:focus {
  display: block;
  width: var(--space-xxl);
  height: var(--space-xxl);
  border: 1px solid var(--mid);
  border-radius: 50%;
  padding: 20px;
  color: var(--mid);
}

.result .top {
  flex-grow: 0;
  padding-bottom: calc(var(--space-xl) * 2);
}

.result .top .container {
  flex-direction: row;
}

#sample {
  position: absolute;
  bottom: var(--space);
  left: 50%;
  transform: translateX(-50%);
  height: var(--space-xxl);
  width: var(--space-xxl);
  border-radius: 50%;
  background-color: var(--sample);
}

#sample::after {
  content: "";
  position: absolute;
  bottom: calc(var(--space-l) * -1);
  left: 50%;
  transform: translateX(-50%);
  width: var(--space-xxs);
  height: var(--space-xl);
  background-color: var(--sample);
}

/* RESULTS SECTION ============================================================= */
.results-section {
  display: none;
  position: relative;
  background-color: #fff;
  border-bottom: var(--space-l) solid var(--sample);
}

.result .results-section {
  display: block;
}

.results-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-44px);
  width: var(--space-xl);
  height: var(--space-l);
  border-right: var(--space-xxs) solid var(--sample);
  border-bottom: var(--space-xxs) solid var(--sample);
  border-bottom-right-radius: var(--space-s);
}

.results-section .container {
  width: calc(100vw - var(--space-xxs));
  margin-top: var(--space-xl);
  margin-left: var(--space-xxs);
  border-left: var(--space-xxs) solid var(--sample);
  padding-bottom: var(--space-xl);
  position: relative;
}

.results-section .container::before {
  content: "";
  position: absolute;
  top: calc(var(--space) * -1);
  left: 36px;
  transform: translateX(-44px);
  width: calc(50% - var(--space-l));
  height: var(--space-l);
  border-left: var(--space-xxs) solid var(--sample);
  border-top: var(--space-xxs) solid var(--sample);
  border-top-left-radius: var(--space-s);
}

.palette-box {
  border: 1px solid var(--mid);
  border-radius: 12px;
}

.palette-box:not(:last-child) {
  margin-bottom: var(--space-l);
}

.palette-name {
  font-size: var(--space);
  line-height: var(--space-xl);
  border-bottom: 1px solid var(--mid);
  padding: 0 var(--space-xs);
  font-weight: 400;
  text-align: center;
}

.single-result {
  margin: var(--space-xs);
  padding: var(--space-xs) 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.single-result:not(:last-child) {
  border-bottom: 1px solid var(--light);
}

.single-result-main {
  position: relative;
  width: 100%;
  text-align: center;
  line-height: var(--space-xl);
  height: var(--space-xl);
  border-radius: var(--space);
  margin-bottom: var(--space-xs);
  background-color: var(--green);
}

.single-result-main::after {
  content: "";
  position: absolute;
  top: var(--space-xxs);
  left: var(--space-xxs);
  height: var(--space-l);
  width: var(--space-l);
  background-color: var(--sample);
  border-radius: 50%;
}

.single-result-main::before {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(var(--space) * -1);
  transform: translateY(-50%);
  height: var(--space-xxs);
  width: var(--space-xl);
  background-color: var(--sample);
}

.single-result-hex::before {
  content: "#";
  color: var(--mid);
}

.single-result-percentage::after {
  content: "%";
  color: var(--mid);
}

.to-top,
.to-top:focus {
  width: var(--space-xl);
  height: var(--space-xl);
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  display: block;
  border-radius: 50%;
  color: var(--yellow);
  background-color: var(--dark);
  padding: var(--space-xxs);
  border: 3px solid #fff;
  box-shadow: 0 2px 4px var(--dark);
  transition: box-shadow 0.2s ease-out;
}
/* MENU ============================================================= */
.header .menu-toggle {
  height: var(--space-xl);
  width: var(--space-xl);
  padding: var(--space-xs);
  padding-right: 0;
  color: var(--light);
}

.header .menu-toggle[data-state="hidden"] svg.visible {
  display: none;
}

.header .menu-toggle[data-state="visible"] svg.hidden {
  display: none;
}

.menu-body {
  z-index: 3;
  position: fixed;
  padding-top: var(--space-xxl);
  top: 0;
  left: 0;
  left: 100vw;
  right: 0;
  bottom: 0;
  background-color: var(--mid);
  transition: left 0.2s ease-out;
}

.menu-body[data-state="visible"] {
  left: 0;
}
/* MEDIA QUERIES ============================================================= */
@media screen and (min-width: 640px) {
  .container {
    padding: 0 var(--space-xxl);
  }

  .results-section .container {
    max-width: 600px;
    margin: var(--space-xl) auto 0;
    padding: var(--space);
    padding-bottom: var(--space-xl);
  }

  .single-result-main::before {
    width: var(--space-xxl);
    left: calc(var(--space) * -1.7);
  }

  #color-form {
    font-size: var(--space-xl);
  }

  #color-input {
    width: 180px;
  }

  .random,
  .random:focus {
    width: calc(var(--space-xl) * 2);
    height: calc(var(--space-xl) * 2);
    padding: var(--space-l);
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding: 0;
    margin: 0 auto;
    max-width: 1280px;
  }

  .result .top {
    padding-bottom: calc(var(--space-xxl) * 2);
  }

  .top .container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .random,
  .random:focus {
    margin-left: var(--space-xxl);
    width: var(--space-xl);
    height: var(--space-xl);
    border: none;
    padding: 0;
  }
}

@media screen and (hover: hover) {
  button {
    cursor: pointer;
  }

  .random,
  .random:focus {
    transition: color 0.3s ease-out;
  }

  .random:hover {
    color: var(--dark);
  }

  .to-top:hover {
    box-shadow: 0 1px 2px var(--dark);
  }
}
